{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="group__item">

  {% if post.image %}
      <img class="group__item-image" src="{{ post.image }}" alt="{{ post.name }}">
  {% endif %}

  <div class="group__item-content">
    <div class="group__item-title">
      {% if post.personalurl %}
        <a href="{{ post.personalurl }}" rel="permalink">{{ post.firstname }} {{ post.lastname }}</a>
      {% else %}
        {{ post.firstname }} {{ post.lastname }}
      {% endif %}
    </div>

    <div class="group__item-subtitle1">
      {{ post.degreedate }}
    </div>

    <div class="group__item-subtitle2">
      {{ post.hometown }}
    </div>

    <div class="group__item-excerpt">
      {% if post.coffee %}
        <p>Coffee order: {{ post.coffee }}</p>
      {% elsif post.icecream %}
        <p>Favorite ice cream: {{ post.icecream }}</p>
      {% endif %}

      {% if post.charater %}
        <p>Most relatable TV character: {{ post.character }}</p>
      {% elsif post.animal %}
        <p>Favorite animal: {{ post.animal }}</p>
      {% endif %}

      {% if post.job %}
        <p>Dream job: {{ post.job }}</p>
      {% endif %}

      {% if post.bestpart %}
        <p>Best part of working in the Meldrum Lab: {{ post.bestpart }}</p>
      {% endif %}

      {% if post.rightnow %}
        <p>Current projects: {{ post.rightnow }}</p>
      {% endif %}
    </div>
  </div>
</div>
