{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="group__item">

  {% if post.image %}
      <img class="group__item-image" src="{{ post.image }}" alt="{{ post.name }}">
  {% endif %}

  <h3 class="group__item-title">
    {% if post.personalurl %}
      <a href="{{ post.personalurl }}" rel="permalink">{{ post.firstname }} {{ post.lastname }}</a>
    {% else %}
      {{ post.firstname }} {{ post.lastname }}
    {% endif %}
  </h3>

  <h4 class="group__item-title">
    {{ post.degreedate }}
  </h4>

  <div class="group__item-excerpt">
    <p><i>{{ post.hometown }}</i></p>

    {% if post.coffee %}
      <p>Coffee order: {{ post.coffee }}</p>
    {% elsif post.icecream %}
      <p>Favorite ice cream: {{ post.icecream }}</p>
    {% endif %}

    {% if post.charater %}
      <p>Most relatable TV character: {{ post.character }}</p>
    {% elsif post.spiritanimal %}
      <p>Spirit animal: {{ post.spiritanimal }}</p>
    {% endif %}

    {% if post.job %}
      <p>Dream job: {{ post.job }}</p>
    {% endif %}

    {% if post.bestpart %}
      <p>Best part of working in the Meldrumlab: {{ post.bestpart }}</p>
    {% endif %}

    {% if post.rightnow %}
      <p>Current projects: {{ post.rightnow }}</p>
    {% endif %}
  </div>
</div>
